

header
    

    .navbar
        background-color: var(--cyan)
        font-family: $font-title
        @include media-breakpoint-up(lg)
            padding-left: 2rem
            padding-right: 2rem

        @include media-breakpoint-up(xl)
            
            padding-left: 6rem
            padding-right: 6rem
        .title
            display: flex
            align-items: center

            text-transform: uppercase
            font-size: 1.2rem
            font-weight: 900
            @include media-breakpoint-up(sm)
                font-size: 2rem
        .navbar-nav
            font-size: 1.4rem
            font-weight: 600
            